body  {
display: grid;
grid-template-columns: 1fr 4fr;
height: 100vh;
}

.mainContent {
    border: 1px red solid;
    display: grid;
    grid-template-rows: 1fr 1fr 6fr ;
}

.mainContent > * {
    border: 1px blue solid;
}

.boardBox {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: lightgrey;
}

.boardBox > * {
    border: 1px green solid;
}

.sidebar {
  background-color: #0f766e;
}

.sidebar ul, .sidebar li {
    appearance: none;
    list-style-type: none;
    padding: 0.5rem;
    color: white;
    font-weight: 600;
    font-size: 2rem;
}   



.sidebar ul > li:first-child {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2rem;
    display: flex;
    gap: 5%;
}

.sidebar ul > li:nth-child(7) {
    margin-bottom: 2rem;
}
a {
    text-decoration: none;
    color: inherit;
    display: flex;
    gap: 10%;
}

/* #community {
    width: 25vh;
    border: 1px solid white;
} */


#dashboard {
    width: 5rem;
}

.sideIcons {
    width: 3rem;
    fill: white;
}


.header1, .header2 {
    display: flex;
}

.projects {
    display: grid;

}